/* #menu1 {
  position:fixed;
  right: 300px;

}

.a {
  text-align: center;
  width: 80px;
  font-size: 10px;
  height: auto;

}

#home {
  border-bottom: 4px solid blue;
}

#nav1{
  background-color: lightblue;
}

#navbarNav{
  height: 100%;
} */

html,
body {
  height: 100%;
  margin: 0;
}

.parent {
  height: 100%;
}

.navStyle {
  background-color: rgb(231, 238, 246);
  box-shadow: 0px 10px 5px rgba(128, 128, 128, 0.575);
  height: 80px;
  align-items: center;
  margin-bottom: 10px;
}

.night .navStyle {
  background-color: rgb(24, 106, 165);
  color: white;
}

.night .menu1 a {
  color: white;
}

.night .menu2 a {
  color: white;
}

.bottomNav {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
  background-color: rgb(231, 238, 246);
  box-shadow: 0px -5px 5px rgba(128, 128, 128, 0.575);
  height: 80px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  display: none;
}
.night .bottomNav {
  background-color: rgb(24, 106, 165);
}

.night .bottomNav a {
  color: white;
}

.headerStyle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navBar-items {
  font-size: large;
}

.menu1 {
  position: absolute;
  margin: auto;
}

.menu2 {
  position: absolute;
  margin: auto;
}

.a {
  text-align: center;
  padding-top: 10px;
  width: 100px;
  height: 60px;
}

.b {
  text-align: center;
  width: 120px;
  height: 30px;
  margin: 0px 15px 10px 0px;
}

#btn {
  width: 100px;
}

.night #btn {
  color: white;
  background-color: rgb(125, 180, 211);
}

#login :hover {
  background-color: rgb(24, 106, 165);
  color: white;
}

#login a {
  color: rgb(24, 106, 165);
  padding: 2px;
}

#signup {
  background-color: rgb(24, 106, 165);
  border: 2px solid rgb(231, 238, 246);
  border-radius: 2px;
}

#signup :hover {
  background-color: rgb(231, 238, 246);
  color: rgb(24, 106, 165);
}

#signup a {
  color: white;
  padding: 2px;
}

.right-items:hover {
  padding-bottom: 20px;
  border-bottom: 5px solid rgb(24, 106, 165);
}

.night .right-items:hover {
  border-bottom: 5px solid rgb(231, 238, 246);
}

.menu3 {
  font-size: 0.8em;
  padding: 1.8em;
  background-color: rgb(24, 106, 165);
  height: 100%;
  width: 300px;
  position: fixed;
  text-align: right;
  color: white;
  transition-duration: 1s;
  z-index: 9998;
}

.night .menu3 {
  color: rgb(24, 106, 165);
  background-color: white;
}

.change .menu3 {
  z-index: 9998;
  display: block;
}

.c {
  margin: 0.8em;
}

#night {
  margin-left: 35px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #79b7eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

#topContainer .active {
  display: none;
}

.flex-container .item {
  align-self: center;
}

.active .flex-container {
  display: none;
}

.flex-left-item {
  position: absolute;
  left: 3%;
}

.flex-right-item {
  position: absolute;
  right: calc(300px - 1.8em);
}

.container {
  font-size: 0.8em;
  padding: 1.8em;
  width: calc(100% - 300px - 8em);
  max-width: 1000px;
  position: absolute;
  left: 0;
  overflow: hidden;

  /*margin-right: 300px;
    margin-top: 103px;
    top: 0;
    left: 0;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  float: right;
  flex-wrap: wrap;
  /*padding-left: 2%;
    padding-right: 2%;*/
}

.night .container {
  background-color: rgb(24, 106, 165);
}

.night .parent {
  background-color: rgb(24, 106, 165);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

/*.scrollable {
  height: 1500px;
  overflow-y: auto;
}*/

.card {
  float: right;
  padding: 1%;
  margin: 1% 0;
  background-color: rgb(221, 230, 230);
  width: 23%;
}

.card-image:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.74);
}

.card-image {
  height: 200px;
  transition: 1s;
}

.scrollable {
  overflow: auto;
}

.inner {
  margin: auto;
  position: relative;
  color: black;
  width: inherit;
  border: 2px solid rgb(19, 5, 15);
  height: 1500px;
  border-radius: 8px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 228, 243);
  border-radius: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.active .hamburger {
  display: inline-block;
  position: absolute;
  left: 20px;
  z-index: 9999;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.night .bar1 {
  background-color: white;
}
.night .bar3 {
  background-color: white;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width: 600px) {

  .tablecontainer{
    padding-top: 2em;
    position: relative;
    right: 300px;
    text-align: center;
    width: calc(100% - 300px);

  }

  table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

  }

  td, th {
    border: 1px solid lightblue;
    text-align: center;
    padding: 8px;
    height: 3.5em;
    width: 20%;
  }

  th{
    background-color : blue;
  }

  tr:nth-child(odd) {
    background-color: lightblue;
  }
}
@media screen and (max-width: 600px) {
  .menu3 {
    left: 0;
    display: none;
  }
  .bottomNav {
    display: block;
  }

  .navStyle {
    margin-bottom: 0;
  }
  .card {
    width: 75%;
  }

  thead {
    display: none;
  }

  table{
    margin: 5% 5% 0 5%;

    width: 90%;
    /* height: auto; */
  }
  .tablecontainer{
    right: 0px;
    overflow: auto;
    width: 100%;
    padding-bottom: 80px;
    height: auto;

  }

  tr {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
    background-color: lightblue;
    box-shadow: 0 0 1rem transparentize( black, 0.9 );
  }

  td {
      display: block;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.5rem;
      text-align: left;

      border: 1px solid transparentize( #58C25F, 0.5 );
  }
  td:before {
      float: right;
      /* margin: -0.5rem 0.5rem -0.5rem -0.5rem; */
      /* padding: 0.625rem 0.5rem 0.625rem; */

      font-weight: bold;

      color: blue;
  }
  td:nth-child(1):before {
      content: "رتبه";
  }
  td:nth-child(2):before {
      content: "نام تیم";
  }
  td:nth-child(3):before {
      content: "نام دانشگاه و کشور";
  }
  td:nth-child(4):before {
      content: "امتیاز";
  }
}
.tbtn{
  width: 100px;
  margin: 0 5% 5% 5%;
  border-radius: 0;
  background-color: white;
  border-radius: 1px;
  border: 0.5px solid blue;
  height: 2.5em;
  color: blue;
}
#tbtn1{
  float: left;
}
#tbtn2{
  float: right;
}
